.app-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(115deg, #e3c9f9 , #d9c3fc , #c8b5f4 )
}

.all-container {
    height: 90vh;
    margin: 0 auto;
    left: 40%;
    position: relative;
    top: 60px;
    overflow-y: scroll;
    width: 20%;
    background: white;
    padding: 25px;
    box-shadow: 2px 4px 12px rgb(124, 123, 123);
    border-radius: 0 0 0 7px;
}

